.mein__header{
    background-image: url("../../img/header.svg");
    background-color: #fff !important;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* padding: 5px 0px; */
    margin-bottom: 5px;
}
/* .logo__bg{} */

.header hr {
    border-color: #ffffff91;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 16px;
    margin-right: 16px;
}

.openNav svg {
    fill: #2A3478;
}
.toggle__btn svg{
    fill: #2A3478;
}
.logo img{
    height: 53px;
}