:root{
  --login-bg: linear-gradient(to bottom, rgb(190, 196, 202), rgb(0, 0, 0));
  --clr-primary: "rgb(14 57 115)";
  --clr-white: #fff;
  --clr-black: #222;
  --clr-gradient-primary: linear-gradient(to right, var(--clr-white), var(--clr-primary));
  --max-width: 1170px;
  --fixed-width: 450px;
  
  --navbar-height: 60px;
  ---sidebar-width: 48px;  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', "monospace",'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login_main{
  min-height: 100vh;
  padding: 0.5rem;
  background: var(--clr-gradient-primary);
}

.contents__root{
  margin-top: var(--navbar-height);
  padding: 0.5rem;
  min-height: calc(100vh - var(--navbar-height));
  margin-left: var(---sidebar-width);
}

.main_container{
  padding-left: 4rem;
  margin-bottom: 20px;
}
.footer{
    padding-left: 4rem;
      background: linear-gradient(rgb(30 96 139), rgb(14 57 115));
      text-align: center;
      color: #fff;
      height: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      font-size: 10px;
      bottom: 0;
      z-index: 9;
      width: 100%;
}
.main{
  margin: 18px;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #ccd2e1;
  /* min-height: calc(100vh - 87px); */
  position: relative;
  
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  margin:auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 
.css-1ygcj2i-MuiTableCell-root {
  padding: 10px !important;
}

@page {
  size: 50mm 30mm;
  margin: 0px !important;
}
@media print {

  .mainBox{
   margin-top: 10px !important;
   margin-left: 15px !important;
   margin-right: 5px !important;
  
  
  }
  }

  
  